body{
    font-family: 'Libre Franklin', sans-serif;
}
/*full game board*/
#game{
    display:flex;
    flex-direction: column;
    align-items: center;
}

/*guess grid styles*/
.guess-letter{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-color: black;
    height: 50px; 
    width: 50px; 
    margin: 2px;
}

.guess-row{
    display: flex; 
}

/*keyboard styles*/
.key-row{
    display: flex;
    justify-content: center;
}

.key{
    height: 58px;
    margin: 2px;
    border: none;
    background-color: #d3d6da;
    border-radius: 4px;
}

.letter-key{
    width: 43px;
}

.special-key{
    width: 65px;
}

.wrong-key{
    background-color: #787c7e;
}

.right-key{
    background-color: #6aaa64;
}
.somewhere-key{
    background-color: #c9b458;
}

/*animation styles*/
.correct{
    --background-color: #6aaa64;
}

.somewhere-else{
    --background-color: #c9b458;
}

.wrong{
    --background-color: #787c7e;
}


.past{
    color: white;    
}

.reveal{
    animation: flip 1s forwards;
}

.guess-row > div:nth-child(2){
    animation-delay: 0.3s;
}
.guess-row > div:nth-child(3){
    animation-delay: 0.6s;
}
.guess-row > div:nth-child(4){
    animation-delay: 0.9s;
}
.guess-row > div:nth-child(5){
    animation-delay: 1.2s;
}
@keyframes flip{
    0% {    
        transform: rotateX(0);
        background-color: white;
        color: black;
    }
    55%{
        transform: rotateX(90deg);
        background-color: white;
        color: black;

    }
    100% {    
        transform: rotateX(0);
        background: var(--background-color);
    }
}
